#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  max-width:200px;
}

.blog {
  background-color: #008b8b;
  padding:1vb;
  margin-top:10px;
  min-width: 50vw;
  min-height: 18vw;
}

.single-blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Blog entry styles */
.blog-entry {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-entry-content {
  flex-grow: 1;
}

.blog-entry-date-time {
  text-align: right;
  padding-left: 35px;
}

.blog-entry-date,
.blog-entry-time {
  font-size: 14px;
  color: #666;
}

.blog-entry h2 {
  margin-top: 0;
}

/* Back button styles */
.back-button {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}

.back-button:hover {
  color: #000;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: white;
  color:black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

.popup-content textBox {
  display: block;
  margin-bottom: 10px;
  color:black
}

.popup-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error{
  background-color: rgb(212, 221, 221);
  outline-color: red;
  color: red;
  border-radius: 5%;
  padding:2% 10% 2% 10%;
  outline: 5px solid rgb(255, 17, 0);
}
.success{
  background-color:  rgb(212, 221, 221);
  outline-color: rgb(0, 187, 62);
  color: rgb(0, 187, 62);
  border-radius: 10%;
  padding:2% 10% 2% 10%;
  outline: 5px solid rgb(0, 187, 62);
}